$cWhite: white;
$cWhiteSmoke:rgb(242, 242, 242);
$cAthens-Grey: #d2dcdc;
$cEbb: #edd8d2;
$cSubTitle: #535353;
$cKashmir-Blue: #597594;
$cRegal-Blue: #284155;
$cBlack: black;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
